@define-color background-color #1a1b26;
@define-color image white;
@define-color progress white;

window {
  border-radius: 0;
  opacity: 1;
  border: 0.5px solid;

  background-color: @background-color;
}

image {
  color: @image;
}

progress {
  background-color: @progress;
}
